.bar-enter {
  opacity: 0.01;
  transform: scale(0.9);
}

.bar-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.bar-exit {
  opacity: 1;
  transform: scale(1);
}

.bar-exit-active {
  opacity: 0.01;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
